body {
  margin: 0;
  padding: 0;
  border-top: 0.5rem solid #aa0d0d;
  font-family: "Source Sans Pro", sans-serif;
  color: #555;
}

/* Layout */

.container {
  margin: 1.25rem auto;
  max-width: 37.5rem;
  padding: 0 0.75rem;
}

.yearSection h2 {
  padding-right: 1.25rem;
}

.title strong {
  display: block;
}

.row {
  margin-bottom: 3.75rem;
}

.row:last-child {
  margin-bottom: 0;
}

@media (min-width: 68.75rem) {
  .container.wide {
    max-width: 62.5rem;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .leftCol {
    width: 21.875rem;
  }

  .leftCol p {
    text-align: justify;
  }

  .rightCol {
    width: 40.625rem;
    margin-left: 2.5rem;
  }

  .title strong {
    display: inline;
  }

  .yearSection h2 {
    padding-left: 1.875rem;
  }
}

.rightCol :first-child,
.leftCol :first-child {
  margin-top: 0;
}

li {
  margin-bottom: 0.625rem;
}

/* Style */

p {
  margin: 1rem 0;
  line-height: 1.4;
}

.description {
  font-size: 2rem;
  color: black;
}

.description h1 {
  display: inline;
  font-size: 2rem;
}

a {
  color: #aa0d0d;
  text-decoration: none;
}

h2 {
  margin: 0;
  font-size: 1.75rem;
  color: #937a7a;
}

h3 {
  margin: 0;
  font-size: 1.75rem;
  font-weight: normal;
  color: #937a7a;
}

h3 a {
  font-weight: bold;
  color: black;
}

h3 strong {
  color: #aa0d0d;
}

.meta {
  color: #937a7a;
}

.yearSection {
  display: flex;
}

.rightCol .electionHeader {
  margin-bottom: 0.625rem;
  margin-top: 1.375rem;
  padding: 0;
}

.electionHeader:first-child {
  margin-top: 0;
}

.yearSection {
  margin-top: 1.375rem;
}

.yearSection:first-child {
  margin-top: 0;
}

.electionSection {
  flex: 1;
}

.race a {
  display: flex;
  align-items: center;
  color: #937a7a;
  padding: 0.3125rem;
  margin: 0 -0.3125rem;
  text-decoration: none;
}

.race a:hover {
  background: #eee;
}

.race a .title strong {
  color: black;
}

.race a .title {
  flex: 1;
  min-width: 0; /* Allow flex item to shrink below content size */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.race a .meta {
  text-align: right;
  flex: 0 0 auto; /* Don't grow or shrink, maintain natural size */
  margin-left: 0.625rem;
}

hr {
  border: none;
  border-bottom: 0.0625rem dotted #ddd;
}

/* Interesting Election Highlighting (non-Condorcet winner or exhausted > winner) */
.race.interesting {
  border-left: 0.25rem solid #aa0d0d;
  background-color: #fdf2f2;
  margin-left: -0.3125rem;
  padding-left: 0.3125rem;
}

/* Subtle highlight for elections where winner didn't lead in round 1 */
.race.winner-not-first {
  border-left: 0.125rem solid #dd8888;
  background-color: #fef8f8;
  margin-left: -0.3125rem;
  padding-left: 0.3125rem;
}

/* If both interesting and winner-not-first, use interesting styling */
.race.interesting.winner-not-first {
  border-left: 0.25rem solid #aa0d0d;
  background-color: #fdf2f2;
}

.interesting-badge {
  display: inline-block;
  background-color: #aa0d0d;
  color: white;
  font-size: 0.8em;
  padding: 0.125rem 0.375rem;
  border-radius: 0.1875rem;
  margin-left: 0.5rem;
  font-weight: 600;
}

.condorcet-info {
  display: block;
  font-size: 0.9em;
  color: #666;
  font-style: italic;
  margin-top: 0.125rem;
}


/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #e3e3e3;
  }

  .description {
    color: #e3e3e3;
  }

  h2 {
    color: #b8a5a5;
  }

  h3 {
    color: #b8a5a5;
  }

  h3 a {
    color: #e3e3e3;
  }

  .meta {
    color: #b8a5a5;
  }

  .race a {
    color: #b8a5a5;
  }

  .race a:hover {
    background: #2d2d2f;
  }

  .race a .title strong {
    color: #e3e3e3;
  }

  hr {
    border-bottom-color: #444;
  }

  .race.interesting {
    background-color: #2d1f1f;
    border-left-color: #aa0d0d;
  }

  .race.winner-not-first {
    background-color: #2d2525;
    border-left-color: #cc6666;
  }

  .race.interesting.winner-not-first {
    background-color: #2d1f1f;
    border-left-color: #aa0d0d;
  }

  .condorcet-info {
    color: #999;
  }

  /* Make links brighter red in dark mode */
  a {
    color: #ff0000;
  }

  h3 strong {
    color: #ff0000;
  }

  /* Make visited links lighter in dark mode */
  a:visited {
    color: #d08080;
  }

  h3 a:visited {
    color: #b8a5a5;
  }
}
